.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid chartreuse;
}
.header > .navbar {
    display: flex;
    flex-wrap: wrap;
}
.header > .navbar ul {
    display: flex;
    flex-wrap: wrap;
}
.header > .navbar ul li {
    padding: 0px 20px;
    list-style: none;
}
.header > .navbar ul li a{
    font-size: 16px;
}
.footer{
    padding: 10px;
    margin: 10px 0 0 0;
    border-top: 2px solid chartreuse;
    text-align: center;
}
.container{
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.card_item{
    padding: 5px;
    margin: 5px;
    border: 1px solid red;
}
.card_item h2{
    margin: 1px 0px;
}
.card_item img{
    width: 200px;
}
.card_item .price{ 
    float: right;
}
.card_item .rating{ 
    float: left;
}
.card_item .distance{ 
    font-weight: bold;
    padding-left: 15px;;
}
